* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  padding: 10px 40px;
  background: linear-gradient(180deg, rgb(106, 106, 189), rgb(106, 7, 68));
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 19px;
  font-weight: 600;
}

/* header section */
.header {
  background-image: url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;
  margin: 50px 90px 0 90px;
  border-radius: 16px;
}
.banner-content {
  background: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0));
  border-radius: 16px;
}
.banner-content .mini-title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.title {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  line-height: 95px;
  max-width: 600px;
  text-align: center;
}
.banner-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* discount-section */
.discount {
  max-width: 805px;
  margin: 100px auto;
  text-align: center;
}
.discount-title {
  color: red;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.discount-des {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* midnight party */
.midnight-party {
  max-width: 1150px;
  margin: 0 auto;
  height: 600px;
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.party-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0));
  height: 100%;
}
.party-title {
  color: white;
  font-size: 50px;
  font-weight: 900px;
  letter-spacing: 7.04px;
  max-width: 642px;
}
.party-des {
  color: rgb(225, 206, 206);
  font-size: 18px;
  max-width: 600px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.content-container {
  margin: 126px 0 135px 126px;
}
.party-img {
  margin: 65px 130px 65px 0;
}
/* our portfolio  */
.portfolio {
  max-width: 1150px;
  margin: 0 auto;
}
.portfolio-content {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.portfolio-des {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 850px;
}
.my-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 24px;
}
.my-project div {
  width: 380px;
}
.my-project img {
  width: 100%;
}
.radius {
  border-radius: 16px;
}
